<nav class="test01"> <button class="btn btn-link navbutton" ng-click="languageChange('en')">{{'Button1 '| translate}}</button> <button class="btn btn-link navbutton" ng-click="languageChange('fr')" >{{'Button2 '| translate}}</button> </nav>
<div class="container test01">
    <div class="row" id="header_text">
        <h1>{{'Header1 '| translate}}</h1>
        <h2>{{'Header2 '| translate}}</h3>
        <h3>{{'Header3 '| translate}}</h2>
    </div>
    <div class="row">
        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12"  ng-repeat="Obutton in Obuttons" >
            <button set-equal-height>{{Obutton.text}}</button>
        </div>
    </div>
    <div class="return">
       <a ng-click="previousPage()"> <i class="fa fa-angle-left"></i> {{'BackButton '| translate}} </a>
    </div>
    
    <hr />
    <div class="row center_button">
        <button id="single_button">Switch to TD</button>
    </div>
</div>